h1 {
  color: red;
}

#text-color {
  color: green;
}

.date {
  font-weight: bold;
  font-style: italic;
}

.info > li {
  color: pink;
}

ul blockquote {
  background-color: gray;
}
