h1 {
  color: red;
}

#text-color {
  color: green;
}

.module {
  font-weight: bold;
  font-style: italic;
}

li > a {
  color: pink;
  text-decoration: none;
}

li blockquote {
  background-color: gray;
}
